<div class="row">
  <div class="columns four">
    <h4>Participants</h4>
    <ul class="no-bullet">
      {{#each participant in controller}}
        {{view Gsc.ParticipantInListView contentBinding="participant"}}
      {{/each}}
    </ul>

    {{#linkTo participants.new class="button small radius mbm"}}Add Participant{{/linkTo}}
  </div>
  <div class="columns eight">
    {{outlet}}
    {{view Ember.Select
            contentBinding="Gsc.participants.participantsList"
            optionValuePath="content.value"
            optionLabelPath="content.display"
            valueBinding="startTime"
            prompt="Please select a time"
            class="expand"}}
  </div>
</div>