<div class="eight columns centered panel text-center radius">
	<h2>Welcome to Thin Minting.</h2>
	<%= link_to "Login", new_user_session_path, class: 'button radius' %>
	or <%= link_to "Sign up", new_user_registration_path  %>
</div>

