
<div class="top-bar container">
  <ul>
    <!-- Title Area -->
    <li class="name">
      <h1>
        <a href="#">
          GS Cookie Helper
        </a>
      </h1>
    </li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section>
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li>
        <a class="active" href="#">Site Sales</a>
      </li>
      <li>
        <a class="active" href="#">Girls</a>
      </li>

      <li class="divider hide-for-small"></li>
    </ul>

    <!-- Right Nav Section -->
  </section>
</div>


<div class="container">
  <div class="row">
    {{outlet}}
  </div>
  <div class="row">
    <ul class="inline-list">
      <li><a {{action goToCookies href=true}}>Cookies</a></li>
      <li><a {{action goToParticipants href=true}}>Participants</a></li>
      <li><a {{action goToHome href=true}}>Home Page</a></li>
    </ul>
  </div>
</div>
