<h1>Cookies</h1>

<p>Your content here.</p>

<h3>All Cookies</h3>
<ul class="no-bullet">
  {{#each cookie in arrangedContent}}
    {{view Gsc.ListCookiesView contentBinding="cookies"}}
  {{/each}}
</ul>

{{outlet}}
