<div class="row">
  <div class="columns four">
    <h3>All Cookies</h3>
    <ul class="no-bullet">
      {{#each cookieCase in arrangedContent}}
        {{view Gsc.ListCookieCasesView contentBinding="cookieCase"}}
      {{/each}}
    </ul>
  </div>
  <div class="columns eight">
    {{outlet}}
  </div>
</div>
