<div class="row">
  <div class="columns four">
    <h4>Participants</h4>
    {{#each participant in controller}}
      {{view Gsc.ShowParticipantView contentBinding="participant"}}
    {{/each}}
  </div>
  <div class="columns eight">
    {{outlet}}
  </div>
</div>



