<div class="row">
  <div class="columns four">
    <h4>Site Sales</h4>
    <ul class="no-bullet">
      {{#each siteSale in controller}}
        <li>{{#linkTo "siteSale" siteSale}}{{siteSale.location}}{{/linkTo}}</li>
      {{/each}}
    </ul>
    <a class="button small radius mbm" >Add New Site Sale</a>
  </div>
  <div class="columns eight">
    {{outlet}}
  </div>
